@model IList<TodoViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Todo Completed</title>
</head>
<body>
    <h2>Completed</h2>
    <br>

    @if (Model != null)
    {
        @foreach (TodoViewModel todoModel in Model)
        {
            @Html.Partial("TodoItemView", todoModel)
        }
    }
</body>
</html>
