@model IList<TodoViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Todo</title>
</head>
<body>
    <h2>Todo</h2>
    <a class="btn btn-default" asp-action="Add">Add new todo item</a>
    <a class="btn btn-default" asp-action="Completed">See completed todo items</a>
    <br>

    @if (Model != null)
    {
        @foreach (TodoViewModel todoModel in Model)
        {
            @Html.Partial("TodoView", todoModel)
        }
    }
</body>
</html>
